<div class="maintabs"> 
	<a id="home" href="/home"> Home </a>
	<a id="post" href="/postForm"> Post a Contribution/Question </a>	
	<a id="account" href="/myAccount"> My Account </a>
	<a id="tOfCont" href="/toc"> Table of Contents </a>
	<a id="search" href="/aboutus"> About Us </a>
	<a id="contact" href="/contact"> Contact Us </a>
	<a id="logout" href="/login"> Log Out </a>
</div>