<div class="maintabs"> 
	<a id="home" href="/Home"> Home </a>
	<a id="account" href="/signup"> Sign Up </a>
	<a id="tOfCont" href="/toc"> Table of Contents </a>
	<a id="search" href="/aboutus"> About Us </a>
	<a id="contact" href="/contact"> Contact Us </a>
</div>