<div class="maintabs"> 
	<a id="home" href="homeV.html"> Home </a>
	<a id="account" href="signup.html"> Sign Up </a>
	<a id="tOfCont" href="tableOfContentsV.html"> Table of Contents </a>
	<a id="search" href="aboutusV.html"> About Us </a>
	<a id="contact" href="contactV.html"> Contact Us </a>
</div>