<div class="maintabs"> 
	<a id="home" href="homeM.html"> Home </a>
	<a id="post" href="post.html"> Post a Contribution/Question </a>	
	<a id="account" href="myAccount.html"> My Account </a>
	<a id="tOfCont" href="tableOfContentsM.html"> Table of Contents </a>
	<a id="search" href="aboutusM.html"> About Us </a>
	<a id="contact" href="contactM.html"> Contact Us </a>
	<a id="logout" href="login.html"> Log Out </a>
</div>