<div class = "btn">		
	<form action="/upvote/{{postID}}" method="post">
		<input type="submit" id="submit" value=&#8679 class = "upvote" name = "upvotebtn">
	</form>		
<!-- 	<button class = "buttons up">
		<p class = "upvote"> &#8679 </p>
	</button> -->	
	<form action="/downvote/{{postID}}" method="post">
		<input type="submit" id="submit" value=&#8681 class = "downvote" name = "downvotebtn">
	</form>		
<!-- 	<button class = "buttons down">
		<p class = "downvote"> &#8681 </p>
	</button> -->		
</div>