<div id = "pReplyBox">
	<form id = "replyForm">
		<label id = "replyTitle">Leave a Comment</label>
		<br>
		<br>
		<p id="replyError" class = "error">{{replyError}}</p>
		<textarea type = "text" name = "reply" id = "reply" placeholder = "Write a comment..." rows = 10></textarea>
		<button class = "buttons cmnt">
			<p class = "cmntlbl"> &#x1F5E8 </p>
		</button>
	</form>
</div>