<!DOCTYPE html>

<html>
	<head>
		<title>About Us</title>
		<meta name="description" content="About us Page for Members">
		<meta name="author" content="Andrea Jean Marcelo">

		<link rel = "stylesheet" type = "text/css" href = "CSS/about.css">
	</head>

	<body id="aboutBody">
		<!-- Main Tabs -->
		{{#if role}}
			{{> headerM}}
		{{else}}
			{{> headerV}}
		{{/if}}

		<div id="parentContents">
			<div class="aboutContents">
				<h1 id="abouttitle"> About Us </h1>
				<p id="aboutdesc">
					Plantheta is an open-forum-like website about plants. Members of the Plantheta community are allowed to share their post, trivias, questions, and helpful tips about taking care of plants. Contribution posting is only allowed to the website's contributors. In this way, contributors could get to promote their business through helping the members and viewers of the website.  Plantheta aims to inform and help people take care of their plants and promote the contributors' plant businesses.  
				</p>
			</div>		
		</div>	
	</body>
</html>
