<!DOCTYPE html>

<html>
	<head>
		<title>Home</title>
		<meta name="description" content="Home Page for Viewers">

		<link rel = "stylesheet" type = "text/css" href = "/css/home.css">
	</head>
	<body id="homeVBody">
		<!-- Main Tabs -->
		{{#if role}}
			{{> headerM}}
		{{else}}
			{{> headerV}}
		{{/if}}

		<div class="search">
			<h1 id="searchTitle"> Plantheta </h1>
			<form method="post" id="searchForm">
				<input class="searchbar" type="text" placeholder="Search here..." id="search" name="search">	
				<br>
				<input type="submit" id="searchButton" value="Search" class = "btn" name = "searchBtn">
			</form>	
		</div>
	</body>
</html>
