<!DOCTYPE html>

<html>
	<head>
		<title> Login </title>
		<!-- <link rel="stylesheet" type="text/css" href= "design.css"> -->	
		<meta name="description" content="Log in Page">
		<meta name="author" content="Andrea Jean Marcelo">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
			body {
				background-image: url("images/loginbg.jpg");
				background-repeat: no-repeat;
				background-attachment: fixed;
    			background-position: center;
    			background-size: cover;
    			height: 100%;
    			width: 100%;
				margin:0;			
			}

			h1 {
				font-size: 10vh;
				color: #fff9dd;
			}

			button {
  				border: 2px solid black;
  				color: white;
  				padding: 2px 24px;
  				cursor: pointer;				
				width: 35%;
				font-size: 3vh;
				background-color: #8aa169;
				border-color: #8aa169; 
				border-radius: 12px;
			}

			button:hover {
				border-color: #8aa169;
				background-color: #fff9dd;
				color: #8aa169;
			}

			.maintabs, #logintitle, #loginbutton, #signup, #viewer {
				font-family: 'Montserrat', sans-serif;
			}

			.loginContents {
				position: absolute;
				width:40%;
				height: 70%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: #d1a748;
				text-align: center;
				border-radius: 12px;
				align-items: center;
				justify-content: center;

			}

			#login {
				text-decoration: none;
			}

			#signup, #viewer {
				color: #fff9dd;
			}

			#signup:hover, #viewer:hover {
				color:#8aa169;
			}

			.accdets {
  				border: 3px solid #8aa169;
  				color: #8aa169;
  				padding: 14px 28px;
  				cursor: pointer;				
				width: 30%;
				font-size: 17px;
				background-color: #fff9dd;
				border-color: #8aa169;
				border-radius: 12px;
			}

			.accdets:hover, .accdets:focus {
				border: 3px solid #d1a748;
				border-radius: 12px;
				background-color: #fff9dd;
			}						
		</style>
	</head>

	<body id="loginBody">
		<div class="loginContents">
			<h1 id="logintitle"> Log in </h1>
			<form class="form">
				<input class="accdets" type="text" placeholder="Username" id="uname" name="uname">
				<br><br>		
				<input class="accdets" type="text" placeholder="Password" id="pword" name="pword">
				<br><br>
			</form>				
			<button id="loginbutton">Log in</button>
			<br><br>
			<a id="signup" href="signup.html">Sign Up for Plantheta</a>
			<br>		
			<a id="viewer" href="homeV.html">Proceed as Viewer</a>		
		</div>	
		<script>
			function clicklogin ()
			{
				var uname = document.getElementById ("uname");
				var pword = document.getElementById ("pword");
				location.href = "homeM.html";
			}	
			var loginButton = document.getElementById("loginbutton");
			loginButton.onclick = clicklogin;
		</script>
	</body>
</html>
