<!DOCTYPE html>

<html>
	<head>
		<title> Login </title>
		<!-- <link rel="stylesheet" type="text/css" href= "design.css"> -->	
		<meta name="description" content="Log in Page">
		<meta name="author" content="Andrea Jean Marcelo">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
			body {
				background-image: url("images/loginbg.jpg");
				background-repeat: no-repeat;
				background-attachment: fixed;
    			background-position: center;
    			background-size: cover;
    			height: 100%;
    			width: 100%;
				margin:0;			
			}

			h1 {
				font-size: 10vh;
				color: #fff9dd;
			}

			.btn {
  				border: 2px solid black;
  				color: white;
  				padding: 2px 24px;
  				cursor: pointer;				
				width: 35%;
				font-size: 3vh;
				background-color: #8aa169;
				border-color: #8aa169; 
				border-radius: 12px;
			}

			input:hover[type="submit"] {
				border-color: #8aa169;
				background-color: #fff9dd;
				color: #8aa169;
			}

			.maintabs, #logintitle, #loginbutton, #signup, #viewer {
				font-family: 'Montserrat', sans-serif;
			}

			.loginContents {
				position: absolute;
				width:40%;
				height: 72%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: #d1a748;
				text-align: center;
				border-radius: 12px;
				align-items: center;
				justify-content: center;

			}

			.error {
				display: flex;
				justify-content: center;
				width: 100%;
			}

			#unameError, #pwordError {
				margin:  1;
				font-family: 'Montserrat', sans-serif;
				font-size: 2vh;
			}
			#err {
				margin: 1%;
				padding: 1%;
				color: #800000;
				border-radius: 50px;
				font-weight: bold;
				width: 80%;
			}

			#login {
				text-decoration: none;
			}

			#signup, #viewer {
				color: #fff9dd;
			}

			#signup:hover, #viewer:hover {
				color:#8aa169;
			}

			.accdets {
  				border: 3px solid #8aa169;
  				color: #8aa169;
  				padding: 14px 28px;
  				cursor: pointer;				
				width: 30%;
				font-size: 17px;
				background-color: #fff9dd;
				border-color: #8aa169;
				border-radius: 12px;
			}

			.accdets:hover, .accdets:focus {
				border: 3px solid #d1a748;
				border-radius: 12px;
				background-color: #fff9dd;
			}					
		</style>
	</head>

	<body id="loginBody">
		<div class="loginContents">
			<h1 id="logintitle"> Log in </h1>
			<form class="form" method="post">
				<input class="accdets" type="text" placeholder="Username" id="uname" name="uname">
				<p id="unameError" class = "error">{{unameError}}</p>		
				<input class="accdets" type="text" placeholder="Password" id="pword" name="pword">
				<p id="pwordError" class = "error">{{pwordError}}</p>
			<input type="submit" id="loginbutton" value="Log In" class = "btn" name = "loginbtn">
			</form>
			<div class = "error">
				<p id = "err">{{error}}</p>
			</div>		
			<a id="signup" href="/signup">Sign Up for Plantheta</a>
			<br>		
			<a id="viewer" href="/home">Proceed as Viewer</a>		
		</div>	
<!-- 		<script>
			function clicklogin ()
			{
				var uname = document.getElementById ("uname");
				var pword = document.getElementById ("pword");
				location.href = "/home";
			}	
			var loginButton = document.getElementById("loginbutton");
			loginButton.onclick = clicklogin;
		</script>
 -->	</body>
</html>
