<!DOCTYPE html>

<html>
	<head>
		<title> Search Results </title>
		<meta name="description" content="Search Results Page for Members">
		<meta name="author" content="Andrea Jean Marcelo">

		<link rel = "stylesheet" type = "text/css" href = "/css/searchResult.css">
		<link rel = "stylesheet" type = "text/css" href = "/css/postsGen.css">
		<link rel = "stylesheet" type = "text/css" href = "/css/postsM.css">
	</head>

	<body id="fplantBody">	
		<!-- Main Tabs -->
		{{#if role}}
			{{> headerM}}
		{{else}}
			{{> headerV}}
		{{/if}}

		<div id="parent">
			<div id = "pageResult">
				<div id = "pHeader">
					<h1 id = "results">Search Results</h1>
				</div>
				<div id = "pWallSearch">
					{{#each posts}}
						{{> post}}
					{{/each}}
				</div>
			</div>
		</div>	
	</body>
</html>
