<!DOCTYPE html>

<html>
	<head>
		<title> View Post </title>
		<meta name="description" content="View a Contribution for Members">
		<meta name="author" content="Andrea Jean Marcelo">

		<link rel = "stylesheet" type = "text/css" href = "/css/postsGen.css">
		<link rel = "stylesheet" type = "text/css" href = "/css/postCmnts.css">
		<link rel = "stylesheet" type = "text/css" href = "/css/postsM.css">
		<script type = "text/javascript" src = "cmntBtns.js"></script>
	</head>

	<body id="contributionMBody">	
		<!-- Main Tabs -->
		{{#if username}}
			{{> headerM}}
		{{else}}
			{{> headerV}}
		{{/if}}

		<div id = "parent">
			<div id = "onePage">
				<div id = "pCeiling">
					{{> post}}
				</div>
				{{#if username}}
					{{> writeCmnt}}
				<div id = "pWallCmnt">
					{{#each comments}}
	                	{{> comment}}
	                {{/each}}
				</div>
			</div>
		</div>
	</body>
</html>
