@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
body {
	background-image: url("../images/tofcbg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
	margin:0;
}

.maintabs {
	background-color: #8aa169;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.maintabs a {
	margin-top: auto;
	margin-bottom: auto;
	padding: 12px 12px;
	text-decoration: none;
	color: #fff9dd;
	text-align: center;
	font-weight: 300;
	font-size: 2.0vh;
}

.maintabs a:hover {
	background-color: #d1a748;
	color: #fff9dd;
}

.maintabs, #TofCtitle {
	font-family: 'Montserrat', sans-serif;
}

.plants {
	font-family: 'Lato', sans-serif;
}

.tableOfContents {
	position: absolute;
	width:80%;
	height: 100%;
	margin: auto;
}

#TofCtitle {
	font-size: 14vh;
	margin: 0;
	color:#fff9dd;
}

.plants {
	font-size:8vh;
	text-decoration: none;
	color: #e5c469;
}	

#parentTOC {
	margin: auto;
	padding: 5% 5%;				
}