/* Styles for posts for Members view */
 .upvote, .downvote, .editlbl, .deletelbl {
	border: 2px solid;
	padding: 4px;
	cursor: pointer;
	font-size: 2vh;
	border-radius: 12px;
}

.btn {
	display: flex;
	margin: 1%;
}

.up, .down, .edit, .delete, .cmnt {
	margin: 1%;
	width: 4%;
}

.upvote, .downvote, .editlbl, .deletelbl, .cmntlbl {
	margin: 0px;
	padding: 12%;
	color: #fff9dd;
}

.cmnt:hover, .upvote:hover, .downvote:hover, .editlbl:hover, .deletelbl:hover {
	background-color: #fff9dd;
}

.cmnt {
	border-color: grey;
	background-color: grey;
}

.cmntlbl:hover {
	color: grey;
}

.up, .down {
	font-weight: bold;
}

.upvote {
	border-color: #006b38;
	background-color: #006b38;
}

.downvote {
	border-color: #800000;	/* #5a0000 */
	background-color: #800000;
}

.up:hover {	/* #e0f0e3 */
	color: #415421;
}

.down:hover {	/* #f8dedd */
	color: #5a0000;
}

.upvote:hover {
	color: #006b38;	
}

.downvote:hover {
	color: #800000;
}

.editlbl, .deletelbl {
	background-color: #d1a748;
	border-color: #d1a748;
}

.editlbl:hover, .deletelbl:hover {
	color: #d1a748;	/* #daac2a */
}

.uploadF {
	color: white;
	background-color: #d1a748;
	border-color: #d1a748;	
	margin: 0;
	border: 2px solid;
	padding: 4px;
	cursor: pointer;
	font-size: 2vh;
	border-radius: 12px;	
}
.uploadF:hover {
	color: #d1a748;
	background-color: white;
	border-color: #d1a748;
}

.buttons-uploadF, .buttons-edit {
	background: none;
	border:  none;
}

