<div class = "btn">
	<button class = "buttons cmnt">
		<p class = "cmntlbl"> &#x1F5E8 </p>
	</button>				
	<button class = "buttons up">
		<p class = "upvote"> &#8679 </p>
	</button>
	<button class = "buttons down">
		<p class = "downvote"> &#8681 </p>
	</button>	
</div>